.emoji-mart-preview {
  display: none;
}
.emoji-mart {
  max-width: 100%;
  position: fixed;
  bottom: 39px;
  left: 0px;
  border-bottom: none !important;
  z-index: 10;
}
.emoji-mart .emoji-mart-scroll {
  height: 200px;
}
.emoji-mart-category-label span {
  margin-bottom: 5px;
}
.emoji-mart-emoji-custom span {
  width: 72px !important;
  height: 72px !important;
}
.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer;
}
.emoji-mart-anchor {
  cursor: pointer;
}
