.sp-chatbox-iframe {
	/* don't remove anything, this is fighting other sites' styling*/
	min-height: 0px;
	min-width: 0px;
	height: 100%;
	width: 100%;
	max-width: 9999px;
	max-height: 9999px;
	border: none;
	/* put display: none here, but still need to set it in js
  so that we can read it easily later
  */
	margin-bottom: 0px;
}
.sp-chatbox-iframe-wrapper {
	position: fixed !important;
	/* left: 0; */
	bottom: 0;
	top: unset !important;
	z-index: 2147483646;
	/* one less than image modal */
	display: none;
	/* border: 1px solid lightgray; */
	border-bottom: none;
	/* border-right: none; */
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31); */
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.sp-chatbox-drag-handle {
	margin-top: -35px;
	height: 35px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* width: 50%; */
	/* margin: auto; */
	/* background-color: yellow; */
	text-align: center;
}
.sp-chatbox-drag-handle svg {
	display: none;
	font-size: 35px;
	color: gray;
}
.sp-chatbox-drag-handle:hover svg {
	display: inline-block;
}
.sp-chatbox-drag-handle:hover {
	background-color: yellow;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px;
}

.sp-blue-button {
	background-color: #2196f3 !important;
}
.sp-chat-icon-wrapper {
	z-index: 2147483647;
	margin: 10px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: fixed;
	right: 0;
	bottom: 0;
	color: #2096f3;
	border: 1px solid #2096f3;
	border-radius: 100%;
	text-align: center;
	line-height: 32px;
}
.sp-chat-icon-wrapper.vertical-center {
	bottom: 50%;
}
.sp-chat-icon-wrapper svg {
	vertical-align: unset;
}
.sp-chat-icon-wrapper img {
	width: 100%;
	height: 100%;
	/* 
  inline style is display none so we don't show the icon
  until css file is properly loaded
   */
	display: block !important;
}
