.sp-hot-chatrooms-wrapper {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sp-discover-entry {
  width: 100px;
  height: 85px;
  padding-top: 15px;
  /* line-height: 70px; */
  background: #3da9ff;
  margin: 12px;
  color: white;
  text-align: center;
  display: inline-table;
  cursor: pointer;
}
.sp-discover-entry p {
  /* margin-top: 10px; */
}
.sp-discover-entry:hover {
  background-color: #008fff;
}
