.sp-hot-chatrooms-wrapper {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sp-discover-entry {
  width: 50%;
  height: 40%;
  /* padding: 10px; */
  position: relative;
  /* margin: 12px; */
  color: white;
  /* text-align: center; */
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: gray;
  background-size: cover;
  vertical-align: middle;
  /* border-bottom: 1px solid white; */
}
.sp-discover-entry:nth-child(odd) {
  /* border-right: 1px solid white; */
}
.sp-discover-entry div {
  top: 50%;
  left: 50%;
  text-align: center;
  /* margin: 0; */
  position: absolute;
  transform: translate(-50%, -50%);

  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
}
.sp-discover-entry:hover {
  background: #008fff !important;
}
