.sp-follow-tab .ant-avatar {
  margin-right: 10px;
}
.sp-follow-row {
  padding: 10px;
  cursor: pointer;
  /* border-bottom: 1px solid #ececec; */
}
.sp-follow-row:hover {
  background: rgb(236, 236, 236);
}
