.sp-message-username {
  font-size: smaller;
  vertical-align: middle;
  margin-left: 5px;
  max-width: 75px;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
}
