.wmp-title {
  /* text-align: center; */
  /* margin: 20px; */
}
/* .wmp-container {
  min-height: 200px;
} */
/* .wmp-container div span img {
  width: 100%;
  height: auto;
} */

.video-js {
  width: 100%;
  /* height: calc(100% - 180px); */
  height: 100%;
}

.video-js .vjs-big-play-button {
  display: none;
}
.video-js .vjs-control-bar {
  display: flex;
}
.media-close-button {
  font-weight: bold;
  font-size: 14px !important;
  margin-right: 10px;
}
.hide-player {
  display: none;
}

.video-js:hover .vjs-control-bar {
  display: flex !important;
  z-index: 2;
}
