.sp-home-chatroom {
  width: 80px;
  height: 70px;
  line-height: 70px;
  background: #72c1ff;
  margin: 5px;
  color: white;
  cursor: pointer;
}
.sp-home-chatroom:hover {
  background: #2196f3;
}
.sp-chatroom-metadata {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 12px;
  font-weight: bold;
}
