body {
  /* background: #eceff1; */
}
body ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px lightgray;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #ccc;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}

.ant-tabs-bar {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  margin: 0px;
}

.ant-tabs-nav-container {
  font-size: 18px;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 35px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  border-radius: 0;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  /* border-color: #fff; */
  background: #fff;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  margin: 0;
  vertical-align: 0;
}

.ant-tabs-tab-arrow-show {
  color: white;
  margin-top: -2px;
}

.ant-avatar > img {
  object-fit: cover;
}
.ant-avatar {
  /* avatar is always clickable? NO!*/
  /* cursor: pointer; */
}
.ant-avatar.ant-avatar-icon {
  /* background: #87d068; */
}
.ant-input {
  border-radius: 0;
  resize: none;
  color: #525252;
}
textarea.ant-input {
  line-height: 1.5;
}
.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid lightgray;
}
.sp-modal * {
  animation-duration: 0s !important;
}
.sp-modal .ant-modal-content {
  /* used by help modal in player tab */
  position: fixed;
  height: 75%;
  /* width: 80%; */
  top: 10% !important;
  left: 10%;
  right: 10%;
}

.sp-special-tab {
  /* covers entire tab except top bar */
  background: white;
  z-index: 10;
  position: fixed;
  top: 35px;
  width: 100%;
  height: calc(100% - 35px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.sp-tab-body {
  /* covers entire tab except top bar and header*/
  background: white;
  z-index: 9; /* other profile has z index 10 */
  position: fixed;
  top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sp-back-btn {
  position: fixed;
  margin-top: 1px;
  margin-left: 5px;
  background: none;
  border: none;
  font-size: large;
}
.sp-back-btn:hover {
  background: none;
}

.sp-tab-header {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  height: 35px;
}

.sp-pointer-cursor {
  cursor: pointer;
}

.sp-new-message-dot.ant-badge {
  font-size: unset;
}

.ant-modal {
  top: 10%;
}
