.sp-chatbox-iframe {
  /* don't remove anything, this is fighting other sites' styling*/
  position: fixed;
  left: 20;
  bottom: 0;
  z-index: 2147483647;
  border: 1px solid lightgray;
  border-bottom: none;

  height: 450px;
  width: 300px;
  min-height: 0px;
  min-width: 0px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.31);
  display: block;
  margin-bottom: 0px;
}
